<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" routerLink="./" [queryParams]="{ page: 1 }" tabindex="-1"
         aria-disabled="true">Start</a>
    </li>
    @if (!data()?.first) {
      <li class="page-item"><a class="page-link" routerLink="./"
                               [queryParams]="{ page: previous() } ">{{ previous() }}</a></li>
    }
    <li class="page-item"><a class="page-link" routerLink="./"
                             [queryParams]="{ page: current() } ">{{ current() }}</a></li>
    @if (!data()?.last) {
      <li class="page-item"><a class="page-link" routerLink="./"
                               [queryParams]="{ page: next() }">{{ next() }}</a></li>
    }
    <li class="page-item">
      <a class="page-link" routerLink="./" [queryParams]="{ page: last() }">End</a>
    </li>
  </ul>
</nav>
