<div class="card-footer bg-transparent">
  <div class="d-flex justify-content-center">
    <a (click)="goBack()" class="btn btn-secondary m-1">Back</a>
    @if ({info: user$ | async}; as user) {
      @if (user.info?.roles?.includes("MODERATOR")) {
        <button type="submit" class="d-inline btn btn-primary m-1">Edit</button>
      }
      @if (user.info?.roles?.includes("ADMIN")) {
        <button type="submit" class="d-inline btn btn-danger m-1" (click)="confirmDelete()">Delete</button>
      }
    }
  </div>
</div>
