<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty - Add new location</title>
</head>
<body>
<h1>Create new location</h1>
<form th:object="${location}" th:action="@{/location/add}" method="POST">
    <label>Name: <input type="text" th:field="*{name}" required></label>
    <br>
    <label>Type: <input type="text" th:field="*{type}" required></label>
    <br>
    <label>Dimension: <input type="text" th:field="*{dimension}" required></label>
    <br>
    <label>Residents:</label>
    <br>
    <select th:field="*{residents}" multiple size="5">
        <option th:each="character : ${allCharacters}"
                th:value="${character.id}"
                th:text="${character.name}">
        </option>
    </select>
    <br>
    <input type="submit" value="Save">
</form>
</body>
</html>
