<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Editing Location: ' + ${location.name}">Editing Location</title>
</head>
<body>
<h1 th:text="'Editing Location: ' + ${location.name}">Editing Location</h1>
<form th:object="${location}" th:action="@{/location/edit/{id}(id=${location.id})}" method="POST">
    <label>Name: <input type="text" th:field="*{name}"></label>
    <br>
    <label>Type: <input type="text" th:field="*{type}"></label>
    <br>
    <label>Dimension: <input type="text" th:field="*{dimension}"></label>
    <br>
    <table th:if="*{!residents.isEmpty()}">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Species</th>
            <th>Type</th>
            <th>Gender</th>
            <th>Origin</th>
            <th>Last Location</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="character : *{residents}">
            <td th:text="${character.id}"></td>
            <td th:text="${character.name}"></td>
            <td th:text="${character.status}"></td>
            <td th:text="${character.species}"></td>
            <td th:text="${character.type ?: 'N/A'}"></td>
            <td th:text="${character.gender}"></td>
            <td th:text="${character.origin?.name ?: 'Unknown'}"></td>
            <td th:text="${character.currentLocation?.name ?: 'Unknown'}"></td>
            <td>
                <img th:src="${character.imageUrl}" th:alt="${character.name}" style="max-height: 50px;">
            </td>
            <td>
                <form th:action="@{/character/edit/{id}(id=${character.id})}" method="GET" style="display:inline;">
                    <input type="submit" value="Edit">
                </form>
                <form th:action="@{/location/{locationId}/edit/remove-character/{characterId}(locationId=${location.id}, characterId=${character.id})}" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="delete">
                    <input type="submit" value="Remove">
                </form>

            </td>
        </tr>
        </tbody>
    </table>
    <fieldset>
        <legend>Select new residents</legend>
        <label>Select Residents:</label>
        <select th:field="*{residents}" multiple="multiple">
            <option th:each="resident : ${allCharacters}" th:value="${resident.id}"
                    th:text="${resident.name}"
                    th:selected="${location.residents.contains(resident)}">
            </option>
        </select>
    </fieldset>
    <br>

    <input type="submit" value="Save Location">
</form>

<a href="/location/all">Back to Locations</a>
</body>
</html>
