<app-detail-card>
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="character?.imageUrl" [alt]="character?.name" class="img-fluid rounded-start"
           style="object-fit: cover; height: 100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="mb-3 text-dark">{{ character?.name }}</h1>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Status: </strong>
            <span [class]="character?.status == 'Alive' ?
                  'badge bg-success' : (character?.status == 'Dead' ?
                  'badge bg-danger' : 'badge bg-warning')">
              {{ character?.status | titlecase }}
            </span>
          </li>
          <li class="list-group-item"><strong>Species: </strong> {{ character?.species }}</li>
          <li class="list-group-item"><strong>Type: </strong>{{ character?.type | titlecase }}</li>
          <li class="list-group-item"><strong>Gender: </strong> {{ character?.gender }}</li>
          <li class="list-group-item"><strong>Origin: </strong> {{ character?.origin?.name || "Unknown" }}</li>
          <li class="list-group-item"><strong>Last seen: </strong> {{ character?.currentLocation?.name || "Unknown" }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</app-detail-card>
