<div class="container-fluid mt-4 d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-lg-4">
    <h1 class="text-center mb-4">Create new episode</h1>
    <form [formGroup]="form" (ngSubmit)="addEpisode()">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" placeholder="Enter episode title" formControlName="title"
               required>
        <label for="title">Episode title</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="air-date" placeholder="Enter episode air date"
               formControlName="airDate" required>
        <label for="air-date">Air date</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="episode-code" placeholder="Enter episode code (SXEXX)"
               formControlName="code" required>
        <label for="episode-code">Episode code (SXXEXX)</label>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Save</button>
        <a href="/episode/all" class="btn btn-outline-secondary">Back to Episodes</a>
      </div>
    </form>
  </div>
</div>
