<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty - Episode</title>
</head>
<body>
<h1 th:text="'Editing: ' + ${episode.getEpisode()}">Editing episode</h1>
<form action="#" th:object="${episode}" th:action="@{/edit/episode/{id}(id=${episode.getId()})}" method="POST">
    <label>Id: <input type="text" th:field="*{id}"></label>
    <br>
    <label>Title: <input type="text" th:field="*{title}"></label>
    <br>
    <label>Air date: <input type="text" th:field="*{airDate}"></label>
    <br>
    <label>Episode: <input type="text" th:field="*{episode}"></label>
    <br>
    <input type="submit" value="Save edit">
</form>
<table style="border: 1px">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Type</th>
        <th>Gender</th>
        <th>Origin</th>
        <th>Last seen</th>
        <th>Image url</th>
        <th>Actions</th>
    </tr>
    <tr th:each="character : ${episode.getCharacters()}">
        <td th:text="${character.id()}"></td>
        <td th:text="${character.name()}"></td>
        <td th:text="${character.status()}"></td>
        <td th:text="${character.type()}"></td>
        <td th:text="${character.gender()}"></td>
        <td th:text="${character.origin()?.name() ?: 'Unknown'}"></td>
        <td th:text="${character.currentLocation()?.name() ?: 'Unknown'}"></td>
        <td>
            <img th:src="${character.imageUrl()}" th:alt="${character.name()}" th:size="50">
        </td>
        <td>
            <form>
                <!--                    TODO-->
                <input type="button" value="Edit">
                <input type="button" value="Delete">
            </form>
        </td>
    </tr>
</table>
</body>
</html>