<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty - Episodes</title>
</head>
<body>
<h1>Episodes</h1>
<table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Air date</th>
        <th>Episode</th>
        <th>Number of characters</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="episode : ${episodes}">
        <td th:text="${episode.id}"></td>
        <td th:text="${episode.title}"></td>
        <td th:text="${episode.airDate}"></td>
        <td th:text="${episode.episode}"></td>
        <td th:text="${episode.characters.size()}"></td>
        <td>
            <a th:href="@{/episode/{id}(id=${episode.id})}">View Details</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/episode/add">Add new episode</a>
<a href="/">Back to home</a>
</body>
</html>