<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty Episodes</title>
</head>
<body>
  <h1>Episodes</h1>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Air date</th>
      <th>Episode</th>
    </tr>
    <tr th:object="${episode}">
      <td th:text="*{id()}"></td>
      <td th:text="*{title()}"></td>
      <td th:text="*{airDate()}"></td>
      <td th:text="*{episode()}"></td>
    </tr>
  </table>
</body>
</html>