<main class="container mt-3">
  <h1 class="text-center p-2">{{ name() }}</h1>
  <div class=" d-flex justify-content-center">
    <table class="table-bordered text-center justify-content-center m-1">
      <tr class="text-bg-dark">
        @for (th of tableHeaders; track tableHeaders) {
          <th>{{ th }}</th>
        }
      </tr>
      <tr>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>TEST</td>
        <td>
          <a class="btn btn-primary text-white m-2 rounded-2"
             th:href="@{/character/{id}(id=${character.id})}">View details</a>
        </td>
      </tr>
    </table>
  </div>
</main>
